.container {
    height: 100vh;
    display: flex;
    flex-flow: column;

    .navbar {
        box-shadow: 0 0px 20px 13px #7070707a;

        .links {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .link-active {
            font-weight: bold;
        }

    }
    

    .body {
        height: 100%;
        overflow: auto;
    }
    
}
