.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.body-container {
    height: 100%;
    overflow: auto;
}

.body {
    margin: auto;
    margin-top: 2rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-top: 1rem;
    max-width: 800px;
    box-shadow: 0px 10px 20px 5px #b3b3b3;
}